*{

    margin: 0;
    box-sizing: 0;
    box-sizing: 0;
}

body{
    background-color: blueviolet;
}

.header{
    display: flex;
    justify-content: center; 
    margin-top: 10%;
}
.header h1{
    font-size: 60px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.head{
    display: flex;
    justify-content: center;
}

#countdown{
    display: flex;
    padding: 30px;
    gap: 50px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
