*{
    padding: 0;
    margin: 0;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
}

.card{
    width: 90%;
    max-width: 470px;
    background-color:#494343;
    backdrop-filter: blur(10px);
    color :#fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}

.search {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.search input{
  width: 250px;
  padding: 25px;
  height: 30px;
  border-radius: 50px;
  border: none;
  outline: none;
}

.search button{
 width: 50px;
 height: 50px;
 padding: 20px;
 margin-left: 20px;
 border-radius: 90px;
 border: none;
}

.search img{
    width: 20px;
    size: 10px;
    margin-top: -5px;
    margin-left: -5px;
    
}

.weather-icon{
    width: 170px;
    margin-top: 30px;
}
.weather h1{
    font-size: 80px;
    font-weight: 500;
}

.weather h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: 10px;
}

.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px; 
    margin-top: 50px;
}

.col{
    display: flex;
    align-items: center;
    text-align: left;
}

.col img{
    width: 40px;
    margin-left: 10px;
    padding: 10px;
}
.humidity, .wind{
    font-size: 28px;
    margin-top: -6px;
     
}

.weather{
    display: none;
}
.error{
   margin-top: 30px;
   margin-left: -150px;
   display: none;

}